.dropdownMenu {
  align-items: center;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 130%;
  justify-content: space-evenly;
  left: -15%;
  position: absolute;
  padding: 4%;
  top: -15%;
  width: 130%;
  z-index: 3;
}

.diceButton {
  height: 30%;
  width: 30%;
}

.diceIconSmall {
  cursor: pointer;
  height: 95%;
  width: 95%;
}

.diceIconSmall:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
