.diceRoller {
  background-color: #DDD;
  border: 2px solid #888;
  border-radius: 6px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 20px;
}

.controlPanel {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100px;
  margin-right: 20px;
}

.rollButton {
  background-color: #F99;
  border: 2px solid #B21;
  border-radius: 6px;
  color: #710;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 80px;
  justify-content: center;
}

.diceSelection {
  position: relative;
}

.diceExplodes {
  background-color: aqua;
  height: 20px;
  width: 20px;
}

.diceTotal {
  align-items: center;
  background-color: #EEE;
  border: 2px solid #888;
  border-radius: 6px;
  color: #710;
  cursor: default;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  height: 50px;
  position: relative;
  width: 80px;
}

.diceSummary {
  align-items: center;
  background-color: white;
  border: 2px solid #888;
  border-radius: 6px;
  box-sizing: border-box;
  color: black;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  justify-content: center;
  left: 70px;
  padding: 0px 10px;
  position: absolute;
  top: -2px;
  width: fit-content;
  z-index: 1;
}

.diceRolls {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 20px;
  width: 80px;
}

.diceIcon {
  cursor: pointer;
  padding: 0px 7.5px;
  height: 100px;
  width: 100px;
}

/* dropdown */
.dropdownMenu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: #FFF;
  top: -15px;
  border: solid 1px #888;
  border-radius: 6px;
  padding: 4px;
}

.diceIconSmall {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 4px;
}

.diceIconSmall:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
