.customForm {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: 130%;
  justify-content: space-between;
  left: -15%;
  padding: 15%;
  position: absolute;
  width: 130%;
}

.diceMedBox {
  height: 60%;
  width: 60%;
}

.diceIconMed {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.inputFields {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 100%;
}

input {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: text;
  font-size: 18px;
  height: 100%;
  padding: 5%;
  text-align: center;
  width: 40%;
}
